<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nmc.mapper.BoardMapper">

	<select id="count" resultType="int">
		SELECT count(*) FROM board
	</select>

	<insert id="createBoard">
		insert into board (title,content,writer,ip)
		values(#{title},#{content},#{writer},#{ip})
	</insert>

	<select id="listAll" resultType="BoardVO">
		  <![CDATA[
 		select * from board 
 		where bno > 0
 		order by bno desc, regdate desc 
 		limit 0,10
 		]]>
	</select>

	<sql id="shortcut">
		select bno,writer,ip,title,content,comment_cnt,regdate ,viewcnt
		from
		board
	</sql>


	<select id="selectPage" parameterType="map" resultType="BoardVO">
		<include refid="shortcut" />
		order by bno desc, regdate desc
		limit #{offset},#{pageSize};

	</select>


	<update id="updateBoardCnt" parameterType="int">
		update board set viewcnt = viewcnt +1
		where bno=#{bno}
	</update>

	<select id="getBoard" resultType="BoardVO">
		select *from board
		where
		bno=#{bno}
	</select>

	<update id="update" parameterType="BoardVO">
		update board set
		title=#{title} ,content=#{content}
		where bno =#{bno} and writer =#{writer}
	</update>

	<delete id="delete" parameterType="map">
		delete from board where bno = #{bno} and writer = #{writer}
	</delete>
	
	  <update id="updateCommentCnt" parameterType="map">
        update board
        set comment_cnt = comment_cnt + #{cnt}
        where bno = #{bno}
    </update>
	

</mapper>